li {
	width: 400px;
	padding: 5px 0;
	list-style: none;
	height: 30px;
	border: 1px solid #000;
}

li:nth-child(odd) {
	background: #99FFFF;
}


li:nth-child(even) {
	background: rgb(13, 135, 184);
}

li:nth-child(1) {
	background: rgb(18, 18, 100);
	color: #fff;
}

.Player__button {
	display: inline-block;
	float: right;
	width: 18px;
	height: 18px;
	border: 1px solid #000;
	text-align: center;
	margin: 0 5px;
	background: #FFFFCC;
	cursor: pointer;
	font-size: 13px;
	color: black;
}

.Player__score {
	display: inline-block;
	float: right;
	width: 36px;
	height: 30px;
	border: 1px solid #000;
	text-align: center;
	margin: -6px 5px 0;
	background: green;
	line-height: 30px;
	font-size: 28px;
	color: white;
}

.Player__button:first-child {
	float: left;
	border-radius: 50%;
	margin-right: 15px;
	background: red;
	color: white;
}

.Player__button:last-child {
	background: #e84118;
}

.Player__name {
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}